<template>
    <div class="container padding">
        <cash-machine></cash-machine>
    </div>
</template>

<script>
    export default {
        name: "app",
        data() {
            return {

            }
        }
    }
</script>

<style scoped>

</style>