<template>
    <div id="cash-machine">
        <div class="panel padding">
            <div class="panel-heading text-success"><h1>Withdraw some money!</h1></div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Amount to withdraw" v-model="amount">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
            </div>
            <button class="btn btn-block btn-lg btn-primary" v-on:click="withdraw()">Withdraw</button>
            <h4 v-show="loading">Loading...</h4>
            <h4 v-if="errorMessage">
                <span class="text-danger">Error:</span> {{errorMessage}}
            </h4>
        </div>
        <div class="row" v-if="withdrawing">
            <div class="col note" v-for="note in notes">
                <h2>{{note}}</h2>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "cashmachine",
        data() {
            return {
                amount: "",
                withdrawing: false,
                loading: false,
                errorMessage: null,
                notes: []
            }
        },
        methods: {
            withdraw: function () {
                this.withdrawing = false;
                this.errorMessage = "";
                this.loading = true;
                this.notes = [];

                this.$http.get('withdraw', {params: {
                        amount: this.amount
                    }})
                    .then(response => response.json())
                    .then(data => {
                        this.notes = data.notes;
                        this.loading = false;
                        this.withdrawing = true;
                    })
                    .catch(response => {
                        response.json().then(data => {
                            this.errorMessage = "Error while requesting withdraw";
                            if (data.error) {
                                this.errorMessage = data.error.message;
                            }
                            this.loading = false;
                        })
                    })
            }
        }
    }
</script>

<style scoped>

</style>