//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap/scss/bootstrap";

.padding {
  padding: 10px;
}

#cash-machine {
  width: 550px;
  margin: 0 auto;
  .input-group {
    .input-group-prepend, .input-group-append {
      .input-group-text {
        font-size: 44px;
      }
    }
    input[type=text] {
      height: 80px;
      font-size: 40px;
    }
  }

  .note {
    background: $success;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    padding: 10px;
    color: #fff;
  }
}